<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exo to-do list Vue.js</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>

<div id="app" class="container">
    <h1>Ma to-do list</h1>
    <div v-for="(tache, nLigne) in taches">
        <input type="checkbox" v-model="tache.checked"/>
        <input type="text" v-model="tache.lib" @keyup.enter="ajouterLigne()"/>
        <button @click="supprimerLigne(nLigne)">x</button>
    </div>
    <ul>
        <li>Nombre de tâches : {{ nbTaches }}</li>
        <li>Nombre de tâches réalisées : {{ nbDone }}</li>
        <li>Nombre de tâches à effectuer : {{ nbToDo }}</li>
    </ul>
</div>

</body>
</html>
<script src="vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                taches: [{lib: '', checked: false}],
            }
        },
        methods: {
            ajouterLigne() {
                this.taches.push({lib: '', checked: false});
            },
            supprimerLigne(i) {
                this.taches.splice(i, 1);
                if(this.taches.length === 0)
                    this.ajouterLigne();
            }
        },
        computed: {
            nbTaches() {
                return this.taches.length;
            },
            nbDone() {
                let tabDone = this.taches.filter((tache) => tache.checked);
                return tabDone.length;
            },
            nbToDo() {
                return this.nbTaches - this.nbDone;
            }
        },
        mounted() {
            if (localStorage.taches) {
                this.taches = JSON.parse(localStorage.getItem('taches'));
            }
        },
        updated() {
            localStorage.setItem('taches', JSON.stringify(this.taches));
        }
    });
</script>
